@import "../cores.scss";

.main-sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: rem(230);
	height: 100%;
	color: $white;
	background-color: $sidebar-bg;
	padding-top: rem(95);
	transition: transform .3s ease-in-out;
	transform: translate(rem(-230), 0);
	font-size: rem(14);

	.sidebar {
		padding-bottom: rem(10);

		.user-panel {
			display: flex;
			align-items: center;
			padding: rem(12) rem(8);

			&-info {
				margin-left: rem(16);
				padding: rem(10) 0;

				.name {
					font-size: rem(13);
					font-weight: 600;
					margin-bottom: rem(5);
				}

				.role {
					font-size: rem(11)
				}
			}
		}

		&-menu {
			margin: 0;
			padding: 0;
			list-style: none;
			overflow: visible;

			.header {
				background-color: $sidebar-header-bg;
				color: $sidebar-header;
				padding: rem(8) rem(15);
				font-size: rem(11);
				text-transform: uppercase;
			}

			.item {
				display: flex;
				align-items: center;
				border-left: rem(3) solid transparent;
				padding: rem(12) rem(5) rem(12) rem(15);
				text-decoration: none;
				color: $sidebar-item;
				fill: $sidebar-item;

				.name {
					margin-left: rem(10);
				}

				&.router-link-active {
					border-left: rem(3) solid $main-blue;
					background-color: $sidebar-item-bg-active;
					color: $white;
					fill: $white;
				}

				&:hover {
					background-color: $sidebar-item-bg-active;
				}
			}
		}
	}

	@include desktop {
		transform: translate(0, 0);
		width: rem(230) !important;
		padding-top: rem(50);
		transition: width .3s ease-in-out;

		.sidebar {
			&.desktop-hide {
				.user-panel {
					&-info {
						display: none;
					}
				}

				.sidebar-menu {
					.header {
						display: none;
					}

					.item {
						.name {
							display: none;
						}
					}
				}
			}
		}
	}
}