/node_modules
yarn.lock

#for configuration
config.yaml
postgres.sql
initdb.py
querydb.py
config2.yaml

#Executable file
sitcom
sitcom.exe
sitcompetence
sitcompetence.exe

#Logs
logs
.log
*.env
.DS_Store
