/node_modules
ui/node_modules
ui/admin-sc/node_modules
ui/student/node_modules
yarn.lock
genkey.go

#for configuration
config.yaml
postgres.sql
initdb.py
querydb.py
config2.yaml
test.go
docker-compose.yml

#Executable file
sitcom
sitcom.exe
sitcompetence
sitcompetence.exe

#Logs
logs
.log
*.env
.DS_Store

# key
*.crt
*.key
key
key.pub
