// Admin
$bg-color: #ecf0f5;
$border-gray: #ededed;
$admin-gray-1: #f9f9f9;
$admin-gray-2: #f4f4f4;
$sidebar-bg: #222d37;
$sidebar-item: #b8c7ce;
$sidebar-header-bg: #1a2226;
$sidebar-header: #4b646f;
$sidebar-item-bg-active: #1e282c;
$admin-main-blue: #408eba;
$admin-blue-1: #66a5c8;
$admin-blue-2: #d9eef1;
$red-1:#ff4136;
$red-2: #fbf1f1;
$red-3: #fdabab;
$navbar-logo-bg: #3a80a7;
$loading-bg: #5555556b;
$black-2: #212529;
$green: #00a65a;

// Student
$blue-1: #1856c0;
$blue-2: #2362d1;
$blue-3: #236be5;
$blue-4: #367bf4;
$blue-5: #4c72af;
$blue-btn: #3578ed;
$blue-logo: #396290;

$gray-1: #e8e9ee;
$gray-2: #878787;
$gray-3: #666;
$gray-4: #d3d3d3;
$gray-5: #97a0b3;
$gray-6: #d2d6de;
$error-red: #eb2e2e;

$white: #fff;
$black: #222;
$super-black: #000;

// Bootstrap
$theme-colors: (
	"admin-primary": $admin-main-blue,
	"primary": $blue-btn,
	"secondary": $gray-6,
	"danger": $red-1,
	"success": $green
);

// Typography
$base-font: 16;

// Media queries breakpoints
$desktop-width: 992px;
$mobile-width: 767px;

// z-index
$sidebar-z: 1000;
$navbar-z: 1030;
$loading-z: 2000;
$mobile-nav-z: 1000;