@import "../cores.scss";

.activity-detail {
	overflow-x: auto;
	max-width: rem(1400);
	margin: 0 auto;

	.activity-header {
		margin-bottom: rem(18);

		.title {
			color: $super-black;
			font-size: rem(36);
			font-weight: bold;
			text-transform: capitalize;
		}
	}

	h2 {
		color: $super-black;
		font-size: rem(30);
		font-weight: bold;
		margin-bottom: rem(16);
		margin-top: rem(16);
	}

	h5 {
		color: $super-black;
		font-weight: bold;
	}

	.eyebrow {
		font-size: rem(16);
	}

	.attendees-title {
		position: relative;

		.badge {
			position: absolute;
			top: rem(11);
		}
	}

	.attendees-list {
		border: rem(1) solid $blue-5;
		border-radius: rem(3);
		padding: 0 rem(10);
		list-style: none;
		max-height: rem(300);
		overflow-y: auto;

		.item {
			color: $super-black;
			padding: rem(14) 0;
			border-bottom: rem(1) solid $blue-1;

			&:last-child {
				border: 0;
			}
		}
	}
}