@import "../cores.scss";

.login {
	display: flex;
	min-height: 100vh;

	.detail {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 0;
		height: 100vh;
		color: $white;
		font-weight: bold;
		background-color: $blue-1;
		clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
		transition: all 1s ease;

		.logo-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.intro {
				position: relative;
				top: rem(11);
				font-size: rem(20);
			}

			.logo {
				display: flex;
				align-items: center;
				.text {
					font-family: "arvo";
					position: relative;
					font-size: rem(24);
					top: rem(11);
				}
			}

		}

		.content {
			width: rem(280);
			background-color: $blue-3;
			padding: rem(20);
			border-radius: rem(14);
			margin-top: rem(20);
		}
	}

	.login-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 1;
		padding: 0 rem(20);
		z-index: 10;

		.login-wrapper {
			width: rem(280);

			.title {
				font-size: rem(36);
				font-weight: 800;
				margin-bottom: rem(16);
			}

			.login-form {
				text-align: center;
			}
		}
	}

	.mobile-activate {
		z-index: 100;
		cursor: pointer;
		font-size: rem(18);
		color: $blue-3;
		text-decoration: underline;
		position: absolute;
		bottom: rem(5);
		right: rem(4);

		&.active {
			color: $white;
		}

		&:hover {
			font-weight: bold;
		}
	}

	&.mobile-active {
		.detail {
			width: 100%;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}

		.login-section {
			display: none;
		}
	}


	@include desktop {
		.detail {
			flex: 1.5;
			clip-path: polygon(0 0, 100% 0%, rem(480) 100%, 0% 100%);
			align-items: flex-start;
			padding-left: rem(60);

			.content {
				width: rem(450);
				background-color: $blue-3;
				padding: rem(20);
				border-radius: rem(14);
				margin-top: rem(20);
			}

			.logo-wrapper {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
			}
		}

		.login-section {
			align-items: flex-start;

			.login-wrapper {
				width: rem(350);

				.title {
					font-size: rem(36);
					font-weight: 800;
					margin-bottom: rem(16);
				}

				.login-form {
					text-align: left;
					padding-right: 0;
				}
		}
		}

		.mobile-activate {
			display: none;
		}
	}
}