@import "../cores.scss";

.give-badge {
	.header {
		display: flex;
		flex-direction: column;
		margin-bottom: rem(10);

		.title {
			color: $black-2;
			font-size: rem(24);
			font-weight: 500;
		}
	}

	@include desktop {
		.header {
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;

			.breadcrumb {
				width: auto;
				background-color: transparent;
			}
		}

		.section {
			padding: rem(10);
		}
	}
}