@import "../cores.scss";

.default {
	min-height: 100vh;
	&.sidebar-open {
		.content-wrapper {
			transform: translate(rem(230), 0);

			@include desktop {
				transform: translate(0, 0);;
				margin-left: rem(50) !important;
			}
		}

		.main-sidebar {
			transform: translate(0, 0);

			@include desktop {
				width: rem(50) !important;
			}
		}
	}

	.content-wrapper {
		transition: transform .3s ease-in-out;

		@include desktop {
			margin-left: rem(230) !important;
			transition: margin-left .3s ease-in-out;
		}
	}
}