@import "../cores.scss";

.student-layout {
	font-family: "proxima-nova";
	background-color: $white;

	.nav-mobile {
		position: fixed;
		top: rem(75);
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $white;
		width: 100%;
		height: 100%;
		z-index: $mobile-nav-z;

		.main-navigation {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			height: rem(500);

			.link-group {
				display: flex;
				flex: 2;
				flex-direction: column;
				align-items: center;
				height: 100%;

				.item-link {
					font-size: rem(18);
					position: relative;
					text-decoration: none;
					margin-bottom: rem(26);
					color: $blue-2;

					&:first-child {
						margin-top: rem(24);
					}

					&.router-link-active {
						font-weight: bold;
					}

					&::after {
						content: "";
						display: block;
						position: absolute;
						left: 50%;
						bottom: 0;
						background: none repeat scroll 0 0 transparent;
						background-color: $blue-4;
						width: 0;
						height: rem(2);
						transition: width 300ms ease 0s, left 300ms ease 0s;
					}

					&:hover::after {
						left: 0;
						width: 100%;
					}
				}
			}

			.navigation-secondary {
				display: flex;
				flex: 1;
				flex-direction: column;
				align-items: center;
			}
		}
	}

	.main-layout {
		margin-bottom: rem(16);
	}
}