@font-face {
	font-family: "proxima-nova";
	src: url("../assets/fonts/ProximaNova-Bold.otf");
	src:
		url("../assets/fonts/ProximaNova-Bold.otf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "proxima-nova";
	src: url("../assets/fonts/ProximaNova-Thin.otf");
	src:
		url("../assets/fonts/ProximaNova-Thin.otf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "proxima-nova";
	src: url("../assets/fonts/ProximaNova-Regular.otf");
	src:
		url("../assets/fonts/ProximaNova-Regular.otf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "arvo";
	src: url("../assets/fonts/arvo-regular.ttf");
	src:
		url("../assets/fonts/arvo-regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: "arvo";
	src: url("../assets/fonts/arvo-bold.ttf");
	src:
		url("../assets/fonts/arvo-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: fallback;
}