// Color
$white: #fff;
$black: #333;

$blue-1: #1856c0;
$blue-2: #2362d1;
$blue-3: #236be5;
$blue-4: #367bf4;
$blue-5: #4c72af;

$gray-1: #e8e9ee;
$gray-2: #878787;

$error-red: #b30909;

$base-font: 16;

// Media queries breakpoints
$desktop-width: 992px;
$mobile-width: 767px;

// z-index