@import "../cores.scss";

.base-image {
	position: relative;

	&::before {
		content: "";
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background-color: $gray-4;
	}

	img {
		position: absolute;
		width: 100%;
		object-fit: cover;
	}
}