@import "../cores.scss";

.create-activity-competence {
	.my-row {
		margin-top: rem(10);
	}

	.badge-wrapper {
		text-align: center;
		font-size: rem(12);
	}

	.badge-checkbox {
		position: relative;
		padding: rem(5);
		cursor: pointer;

		&.is-select {
			&::after {
				content: "SELECTED";
				position: absolute;
				left: 0;
				bottom: 47%;
				padding: rem(5) 0;
				text-align: center;
				background-color: $main-blue;
				color: $white;
				font-weight: bold;
				font-size: rem(12);
				width: 100%;
			}
		}

		input[type="checkbox"] {
			display: none;
		}

		.text {
			text-transform: capitalize;
			margin-top: rem(10);
		}
	}
}