@import "../cores.scss";

.create-activity-detail {
	.label {
		font-size: rem(14);
	}

	.t-area {
		font-size: rem(14);
	}

	.time {
		margin-top: rem(10);
	}

	.input-file {
		position: relative;

		.preview-btn {
			position: absolute;
			top: rem(6);
			right: rem(80);
			z-index: 10;
		}
	}

	@include desktop {
		.time {
			margin-top: 0;
		}
	}
}

.preview-image-modal {
	text-align: center;
	border: 0;
	background-color: transparent;

	.modal-body {
		padding: 0;
	}

	.preview-image {
		max-width: rem(280);
		height: auto;
	}

	@include desktop {
		.preview-image {
			max-width: rem(450);
		}
	}
}