@import "../cores.scss";

.create-activity-summary {
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(20);
	}

	.header {
		text-align: center;
		margin-bottom: rem(20);

		.title {
			font-size: rem(22);
			font-weight: 600;
			line-height: 2;
		}

		.subtitle {
			font-size: rem(16);
			color: $gray-5;
		}
	}

	.detail-wrapper {
		width: 100%;
		padding: rem(16);
		border-radius: rem(6);
		background-color: $gray-4;
	}

	.detail-row {
		display: flex;
		width: 100%;
		font-size: rem(14);
		margin-bottom: rem(16);

		.label {
			text-align: left;
			flex: 1;
		}

		.data {
			color: $black-2;
			text-align: right;
			flex: 1;

			.preview-btn {
				svg {
					fill: $white;
				}
			}
		}

		&.description {
			flex-direction: column;

			.data {
				text-align: left;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include desktop {
		.wrapper {
			padding: rem(20) rem(100);
		}

		.detail-row {
			.data {
				br {
					display: none;
				}
			}
		}
	}
}