@import "fonts.scss";
@import "cores.scss";
@import "animations.scss";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-vue/src/index.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:focus,
:hover {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

html, body {
	font-size: rem($base-font);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: $bg-color;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-font-smoothing: antialiased;
	touch-action: manipulation;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
	line-height: inherit;
	font-size: inherit;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;
	text-align: inherit;
	outline: none;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	&:active,
	&:hover,
	&:focus {
		outline: none;
	}
}

.box {
	border-top: rem(3) solid $gray-6;
	margin-bottom: rem(20);
	width: 100%;
	box-shadow: 0 rem(1) rem(1) $gray-4;
	background-color: $white;

	&-header {
		display: flex;
		align-items: center;
		color: $box-header;
		padding: rem(10);
		font-size: rem(18);
		font-weight: 500;
		border-bottom: rem(1) solid $gray-2;
		line-height: rem(27);

		.dropdown {
			svg {
				fill: $black;
			}

			&.active {
				transform: rotate(180deg);
			}
		}
	}

	&-footer {
		padding: rem(10);
		border-top: rem(1) solid $gray-2;
	}

	&.error {
		border: rem(1) solid $danger;
		border-top: rem(3) solid $danger;
	}

	&.dropdown {
		box-shadow: none;
		background-color: transparent;

		.box-header {
			background-color: $white;
		}
	}

	&-content {
		&.scrollable {
			max-height: rem(390);
			overflow-y: auto;
		}
	}
}

.app-loader{
  width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	background-color: $loading-bg;
	margin: 0 auto;
  z-index: $loading-z;
}

/* LOADER 1 */

#spin-loader:before, #spin-loader:after{
  content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: rem(-50);
	margin-left: rem(-50);
  width: rem(100);
	height: rem(100);
  border-radius: 50%;
  border: rem(10) solid transparent;
	border-top-color:$main-blue;
}

#spin-loader:before{
	animation: spin 1s infinite;
  z-index: $loading-z;
}

#spin-loader:after{
  border: rem(10) solid transparent;
}