@import "./variables.scss";
@import "./mixins.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:focus,
:hover {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $family-primary;
	font-size: rem($base-font-size);
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 150%;
	color: #444;
}

.test {
	border: 1px solid #000;
}

@import "./layouts/admin.scss";
@import "./components/sidebar.scss";
@import "./components/give-badge-dropdown.scss";
@import "./components/give-badge-student-description.scss";
@import "./components/give-badge-selection.scss";
@import "./components/give-badge-pagination.scss";
@import "./components/base-table.scss";
@import "./components/base-popup.scss";
@import "./components/base-badge.scss";
@import "./components/give-badge-bar.scss";
@import "./components/navbar.scss";