@import "./variables.scss";
@import "./mixins.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:focus,
:hover {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $family-primary;
	font-size: rem($base-font-size);
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 150%;
	color: #444;
}

.test {
	border: 1px solid #000;
}

@import "./components/sidebar.scss";
@import "./pages/give-badge/give-badge-main.scss";
@import "./pages/give-badge/give-badge-dropdown.scss";