@function rem($pixels, $context: $base-font-size) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}
	@if (unitless($context)) {
		$context: $context * 1px;
	}
	@return $pixels / $context * 1rem;
}

@mixin mobile {
	@media (max-width: rem($screen-mobile)) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: rem($screen-mobile)) {
		@content;
	}
}

@mixin ellipsisOneline() {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin ellipsis($line) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	margin: 0;
	overflow: hidden;
}