// Import Bulma's core
@import "~bulma/sass/utilities/_all";
$sidebar-background: #0e4aa3;
$navbar-background: #0e4aa3;
$sidebar-item: #deebfe;
$sidebar-active: #0d3f8a;
$sidebar-hover: #063275;
$navbar-hover: #063275;
$sidebar-tag: #032457;
$button-bg: #0c55c6;
$dropdown-menu-min-width: rem(24);
$title: #363636;
$subtitle: #4a4a4a;
$box-shadow: #9d9d9d;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
	"white": ($white, $black),
	"black": ($black, $white),
	"light": ($light, $light-invert),
	"dark": ($dark, $white),
	"primary": ($primary, $white),
	"info": ($info, $info-invert),
	"success": ($success, $success-invert),
	"warning": ($warning, $warning-invert),
	"danger": ($danger, $danger-invert),
	"sb-item": ($sidebar-item, $sidebar-background),
	"sb-tag": ($sidebar-tag, $white),
	"my-blue": ($sidebar-background, $sidebar-item),
	"button-main": ($button-bg, $white)
);

// Import Bulma and Buefy styles
@import "~bulma";

// Typography
$base-font-size: 16;
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;

// Media queries breakpoints
$screen-desktop: 1200;
$screen-mobile: 969;

// Components
$grid-gutter-width: 12;
$padding-base: 12;
$padding-tablet: 24;
$padding-mobile: 16;

// zee
$base-popup-z: 33;
$base-popup-next-z: 32;
$base-popup-select-z: 31;


// Fontawesome
@import "assets/fontawesome-free/scss/fontawesome.scss";
@import "assets/fontawesome-free/scss/solid.scss";