@import "../../cores.scss";

.give-badge-selection {
	.selected-student {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;

		.error {
			.dropdown {
				background-color: $red-3;
				border-top: rem(2) solid $red-1;

				&.active {
					background-color: $red-3;
				}

				&:hover {
					background-color: $red-1;
				}
			}

			.badge-form {
				background-color: $red-2;
			}
		}

		.dropdown {
			position: relative;
			display: flex;
			padding: rem(10);
			font-size: rem(14);
			justify-content: space-between;
			background-color: $white;
			border-top: rem(1) solid $admin-gray-2;
			cursor: pointer;

			&.active {
				background-color: $gray-1;

				.icon {
					transform: rotate(180deg);
				}
			}

			.icon {
				fill: $black;
			}

			&:hover {
				background-color: $admin-gray-2;
			}
		}

		.badge-form {
			background-color: $white;
			padding: rem(20) 0;

			.badge-wrapper {
				margin-bottom: rem(22);
				font-size: rem(12);
			}

			.badge-checkbox {
				display: flex;
				flex-direction: column;
				align-items: center;
				position: relative;
				padding: rem(5);
				cursor: pointer;

				&.is-select {
					&::after {
						content: "SELECTED";
						position: absolute;
						left: 50%;
						margin-left: rem(-52);
						bottom: 47%;
						padding: rem(5) 0;
						text-align: center;
						background-color: $admin-main-blue;
						color: $white;
						font-weight: bold;
						font-size: rem(12);
						width: rem(104);
					}
				}

				&.is-collected {
					pointer-events: none;

					&::after {
						content: "COLLECTED";
						position: absolute;
						left: 50%;
						margin-left: rem(-52);
						bottom: 47%;
						padding: rem(5) 0;
						text-align: center;
						background-color: $green;
						color: $white;
						font-weight: bold;
						font-size: rem(12);
						width: rem(104);
					}
				}

				input[type="checkbox"] {
					display: none;
				}

				.text {
					text-transform: capitalize;
					margin-top: rem(10);
				}
			}
		}
	}
}