.base-table {
	position: relative;

	&-checkbox {
		height: rem(62);
	}

	&-checkbox-all {
		position: relative;
		&::before {
			content: "All";
			position: absolute;
			top: rem(-16);
		}
	}

	&-student {
		display: flex;
		align-items: center;

		&-data {
			width: rem(220);
			margin-left: rem(20);
		}
	}

	&-badge {
		display: flex;
		height: rem(62);

		&-item {
			display: flex;
			align-items: center;
			margin-right: rem(80);
			width: rem(65);

			&-multiple {
				margin-left: rem(8);
			}
		}
	}
}