.navbar {
	background-color: $navbar-background;
	width: 100%;
	min-height: rem(50);
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-hamburger {
		padding: rem(15);
		background-color: $navbar-hover;
	}

	&-menu {
		&-user {
			color: $white;
			text-align: center;
		}
	}
}