// Set your colors
$bg-color: #ecf0f5;
$sidebar-bg: #222d37;
$sidebar-item: #b7c6cd;
$sidebar-header-bg: #1a2226;
$sidebar-header: #3f525b;
$sidebar-item-bg-active: #1e282c;
$main-blue: #408eba;
$navbar-logo-bg: #3a80a7;
$loading-bg: #5555553f;
$theme-colors: (
  "primary": $main-blue,
	"danger": #ff4136,
	"success": $sidebar-header
);

$white: #fff;
// Typography
$base-font: 16;

// Media queries breakpoints
$desk-tablet-width: 768px;
$mobile-width: 767px;

// z-index
$sidebar-z: 1000;
$navbar-z: 1030;
$loading-z: 2000;